<div class="row titlebar">
	<div class="pagination center">
	  <ul>
	    <li><a href="#" id="red-box">1</a></li>
	    <li><a href="#" id="grey-box">2</a></li>
	    <li><a href="#" id="grey-box">3</a></li>
	  </ul>
	</div>
</div>
<%= render 'form' %>