<div class="row">
	<div class="span1">
	</div>
	<div class="span2">
		<%= f.label "file" %>
		<%= f.file_field :file %>
	</div>
	<div class="span3">
		<%= f.input :color, label: 'Print Color' %>
	</div>
	<div class="span1">
	</div>
	<div class="span3">
		<%= f.input :location, :collection => Artwork::LOCATION, label: 'Location' %>
	</div>
</div>