<div class="row titlebar">
  <div class="span2">
  </div>
  <div class="span3">
    <h1>Users</h1>
  </div>
  <div class="span2 pull-right">
    <br>
    <%= link_to new_user_path do %>
      <center><div class="create-button">New User</div></center>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span2">
  </div>
  <div class="span9">
    <table class="table table-striped">
      <tr>
        <th class="first-column">ID</th>
        <th class="second-column">Email</th>
        <th class="first-column">Created At</th>
      </tr>
         <% @users.each do |user| %>
           <tr>
             <td class="first-column"><%= link_to user.id, user %></td>
             <td class="first-column"><%= link_to user.email, user %></td>
             <td class="first-column"><%= link_to user.created_at, user %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>

<br />