<div class="row titlebar">
    <div class="span2">
    </div>
    <div class="span4">
        <h1>Edit Customer</h1>
    </div>
    <div class="span2 pull-right">
        <div class="span2 pull-right">
            <%= link_to customers_path do %>
                <center><div class="cancel-button">Cancel</div></center>
            <% end %>
        </div>
    </div>
</div>
<%= render 'form' %>