.dash-stats h1 {
	margin: 0px;
}
.dash-stats h3 {
	margin: 0px;
}
.background-one {
	background-image:url('bg_img.png');
	padding-bottom: 6%;
	top: 0;
}
.logo {
	margin-top: 4%;
}
#home-blue-button.blue-button {
	margin-top: 10%;
	margin-bottom: 10%;
}
.grey-background {
	background-color: #333845;
	color: white;
	padding: 20px;
}
#home-p {
	font-size: 18px;
}
.img-margin-top {
	margin-top: 30px;
}
div.row.footer {
margin-bottom: 0px;
background-color: #E26244;
padding: 20px;
height: 100%;
color: white;
margin-top: 5%;
}
.row.footer h1 {
	color: #333845;
}
.home-icon {
	margin-top: 4%;
}
.no-bullets {
	list-style-type: none;
	line-height: 20px;
	margin-left: 0px;
}
#half-green-width {
	width: 50%;
}
.li-underlined {
	width: 50%;
	border-bottom: 1px dashed #262A34;
	margin-bottom: 3px;
	padding-bottom: 3px;
}