#product_style {
	width: 75px;
}
#product_color {
	width: 75px;
}
#product_xs {
	width: 50px;
}
#product_small {
	width: 50px;
}
#product_med {
	width: 50px;
}
#product_large {
	width: 50px;
}
#product_xl {
	width: 50px;
}
#product_xxl {
	width: 50px;
}
#product_xxxl {
	width: 50px;
}
#product_ivxl {
	width: 50px;
}
#product_vxl {
	width: 50px;
}
#product_vixl {
	float: left;
	width: 50px;
}
#new_product > div.input.string.optional.product_style {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.string.optional.product_color {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xs {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_small {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_med {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_large {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_ivxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vixl {
	float: left;
	margin-right: 5px;
}
#product-inputs {
}