@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}
.pull-right {
	margin-right: 5px;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
.nav-tabs {
 border-bottom: none; 
margin-bottom: 0px;
}
.row {
	margin-left: 0px;
}

[class*="span"] {
float: left;
min-height: 1px;
margin-left: 0px;
}


/**************nav******************/
.navigation-fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #333844;
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.brand {
	background-color: #E26244;
	height: 50px;
	margin-left: 0px;
}
.brand a {
	color: #fff;
	text-decoration: none;
}
.current-user a {
	color: #E26244;
	margin-right: 10px;
	text-decoration: none;
}
.logout a {
	color: #727A8B;
	margin-right: 10px;
	text-decoration: none;
}
.nav-login-button {
	background-color: #65B44E;
	height: auto;
	line-height: 20px;
	margin-top: 10px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
.nav-signup-button {
	background-color: #4D93DB;
	height: auto;
	line-height: 20px;
	margin-top: 10px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
/**************sidebar-nav******************/
.sidebar-nav-fixed {
    position:fixed;
    margin-left: 0px;
    height: 100%;
    background-color: #333844;

 }
.sidebar-nav-fixed li a img {
	margin-right: 7px;
}
.sidebar-nav-fixed li a {
	color: #fff;
	font-weight: bold;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
	color: #333844;
	background-color: #fff;
	font-weight: bold;
}
.nav > li > a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #333844;
	font-weight: bold;
}
.nav-pills.nav-stacked > li > a {
	margin-bottom: 0px;
	margin-top: 0px;
}
.nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px; 
}
/**************global-index******************/
.no-data {
	padding: 10px;
	border: 3px dashed #000000;
	border-color: #727A8B;
	color: #333844;
	font-size: 16px;
	margin-top: 100px;
}
#orange {
	color: #E26244;
	font-size: 18px;
}
/**************buttons******************/
.create-button {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}
.filter {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}.cancel-button {
	background-color: #E95136;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
	width: 61%;
	margin-left: 15%;

}
.view-all-button {
	background-color: #333844;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}
input[type="submit"] {
	margin-top: 20px;
	background-color: #65B44E;
	height: 40px;
	padding: 5px;
	width: 100%;
}
input, button {
	color: #fff;
	border: none;
}
button {
	line-height: 30px;
	background-color: #65B44E;
}
/**************titlebar******************/
.titlebar {
	margin-top: 50px;
	margin-bottom: 40px;
}
.id-name {
	font-size: 36px;
	margin-top: 20px;
	margin-left: 0px;
}
#sold-by a {
	font-size: 16px;
}
.sold-category {
	margin-top: 10px;
	margin-left: 0px;
}
/**************filters******************/
.filters{
	position: fixed;
	right:0;
}
.filter-label {
	margin: 1px;
}
.filter-field {
	margin-bottom: 2px;
	height: 25px;
}
/**************calender******************/
.calender-date {
	margin: 5px;
	border-width: 0px;
}
.calender-date.span2.pull-right.well {
	padding: 0px;
}
#due-created {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#due-created-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#year {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#year-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#day {
	font-size: 40px;
	font-weight:bold;
	margin-top: 3px;
}
#month {
	font-size: 12px;
	font-weight:bold;
}
/**************product-form******************/
.product-input-string input {
	float: left;
	width: 60px;
	margin-right: 3px;
}
.product-input-integer input {
	float: left;
	width: 40px;
	margin-right: 3px;
}
.product-input-integer {
	float: left;
	width: 50px;
	margin-right: 5px;
}
.product-input-string {
	float: left;
	width: 50px;
	margin-right: 30px;
}
.user-form-header {
	background-color: #333844;
	font-size: 30px;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	border-bottom: 5px solid #E26244;
}
.user-form {
	background-color: #EAEDF2;
	border-color: #333844;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
input#user_email {
	width: 60%;
	margin-left: 15%;
}
select#user_role {
	width: 64%;
	margin-left: 15%;
}
input#user_password {
	width: 60%;
	margin-left: 15%;
}
input#user_password_confirmation {
	width: 60%;
	margin-left: 15%;
}
label.email {
	margin-left: 15%;
}
#new_user > div.user-form > div.input.select.optional.user_role > label {
	margin-left: 15%;
}
label.password {
	margin-left: 15%;
}
label.password_confirmation {
	margin-left: 15%;
}

.address {
	margin-top: 50px;
}
.user-form-row {
	padding-top: 20px;
	padding-bottom: 20px;
}