@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
body {
	font-family: 'Open Sans', sans-serif;
}
.pull-right {
	margin-right: 5px;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
.nav-tabs {
 border-bottom: none; 
margin-bottom: 0px;
}

/**************nav******************/
.navigation-fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #333844;
	height: 50px;
	line-height: 50px;
}
.brand {
	background-color: #E26244;
	width: 125px;
	height: 50px;
	margin-left: 0px;
}
.brand a {
	color: #fff;
	text-decoration: none;
}
.current-user a {
	color: #E26244;
	margin-right: 10px;
	text-decoration: none;
}
.logout a {
	color: #727A8B;
	margin-right: 10px;
	text-decoration: none;
}

/**************sidebar-nav******************/
.sidebar-nav-fixed {
    position:fixed;
    margin-left: 0px;
    height: 100%;
    width: 125px;
    background-color: #333844;

 }
.sidebar-section a {
	color: #727A8B;
	text-decoration: none;
 }
.sidebar-section {
	width: 100%;
	height: 75px;
	margin-top: 20px;
}
/**************global-index******************/
.no-data {
	border-radius:25px;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 3px dashed #000000;
	border-color: #727A8B;
	color: #333844;
	font-size: 16px;
	margin-top: 100px;
}
#orange {
	color: #E26244;
	font-size: 18px;
}
/**************buttons******************/
.create-button {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
.filter {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}.cancel-button {
	background-color: #E95136;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;

}
.view-all-button {
	background-color: #333844;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
/**************forms******************/
input[type="submit"] {
	background-color: #65B44E;
	height: 30px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	width: auto;
}
input, button {
	color: #fff;
	border: none;
}
button {
	line-height: 30px;
	background-color: #65B44E;
}
/**************titlebar******************/
.titlebar {
	margin-top: 50px;
	margin-bottom: 40px;
}
.id-name {
	font-size: 36px;
	margin-top: 20px;
	margin-left: 0px;
}
#sold-by a {
	font-size: 16px;
}
.sold-category {
	margin-top: 10px;
	margin-left: 0px;
}
.triangle-up-left {
    width: 0;
    height: 0;
    padding-bottom: 25%;
    padding-left: 25%;
    overflow: hidden;
}
.triangle-up-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #4679BD;
}
/**************product-form******************/
#product_style {
	width: 75px;
}
#product_color {
	width: 75px;
}
#product_xs {
	width: 50px;
}
#product_small {
	width: 50px;
}
#product_med {
	width: 50px;
}
#product_large {
	width: 50px;
}
#product_xl {
	width: 50px;
}
#product_xxl {
	width: 50px;
}
#product_xxxl {
	width: 50px;
}
#product_ivxl {
	width: 50px;
}
#product_vxl {
	width: 50px;
}
#product_vixl {
	float: left;
	width: 50px;
}
#new_product > div.input.string.optional.product_style {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.string.optional.product_color {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xs {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_small {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_med {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_large {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_ivxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vixl {
	float: left;
	margin-right: 5px;
}
/**************filters******************/
.filters{
	position: fixed;
	right:0;
}
.filter-label {
	margin: 1px;
}
.filter-field {
	margin-bottom: 2px;
	height: 25px;
}
/**************calender******************/
.calender-date {
	margin: 5px;
	border-width: 0px;
}
.calender-date.span2.pull-right.well {
	padding: 0px;
}
#due-created {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#due-created-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#year {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#year-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#day {
	font-size: 40px;
	font-weight:bold;
	margin-top: 3px;
}
#month {
	font-size: 12px;
	font-weight:bold;
}