@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
.pull-right {
	margin-right: 5px;
}
.well {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.row {
	margin-left: 0px;
}
.hero-unit {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 20px;
}
.content {
	margin-left: 25px;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: none;
color: #0000FF;
}
.nav-tabs {
 border-bottom: none; 
margin-bottom: 0px;
}
.hero-unit-row {
	margin-left: 0px;
	margin-bottom: 10px;
}

[class*="span"] {
float: left;
min-height: 1px;
margin-left: 0px;
}
.index {
	margin-left: 25px;
}
.selector select {
	margin-bottom: 0px;
}
body > div.row.titlebar.well > div:nth-child(3) > a > center > div {
margin-top: 10px;
}
.order-border {
	border-bottom: dashed 1px;
}
.purr {
  position: fixed;
  width: 324px;
  top: 20px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #AAA;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
.purr:hover .close  {
  position: absolute;
  top: 5px;
  right: 3px;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("/images/close-button.gif") no-repeat;
}
.best_in_place:hover, #user_account .do_hover {
  padding-right: 1.5em;
  background: url("grey_pen.png") no-repeat right;
}

/**************nav******************/
.navigation-fixed {
	background-color: #333845;
	height: 50px;
	line-height: 50px;
	width: 100%;
	position:fixed;
}
.brand {
	height: 50px;
	background-color: #E26244;
	color: #fff;
	line-height: 50px;
	position:fixed;
}
.brand2 {
	height: 50px;
	background-color: #E26244;
	color: #fff;
	line-height: 50px;
}
.brand a {
	color: #333845;
	text-decoration: none;
}
.brand h4 {
	line-height: 50px;
}
.brand2 h4 {
	line-height: 50px;
}
#nav-login {
	margin-top: 10px;
}
.current-user a {
	color: #E26244;
	margin-right: 10px;
	text-decoration: none;
}
.logout a {
	color: #727A8B;
	margin-right: 10px;
	text-decoration: none;
}
#undo-btn-group {
	/*background-color: none;*/
}
/**************sidebar-nav******************/
.sidebar-nav-fixed {
    position:fixed;
    width: 100px;
	top: 50px;
    height: 100%;
    background-color: #333844;

 }
 .sidebar-li {
 	padding-top: 10px;
 	padding-bottom: 10px;
 	border-bottom: 1px solid #262A34;
 }
 .current-user-logout {
 	background-color: #ccc;
 	height: 50px;
 	padding-top: 10px;

 }
.sidebar-nav-fixed li a {
	color: #fff;
	font-weight: bold;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color: #22252F;
	font-weight: bold;
	outline: 1px solid #111;
}
.nav > li > a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #22252F;
	outline: 1px solid #000;
}
.nav-pills.nav-stacked > li > a {
	margin-bottom: 0px;
	margin-top: 0px;
}
.nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px; 
}
/**************global-index******************/
.no-data {
	padding: 10px;
	border: 3px dashed #000000;
	border-color: #727A8B;
	color: #333844;
	font-size: 16px;
	margin-top: 100px;
}
#orange {
	color: #E26244;
}
.multi-address {
	margin-bottom: 10px;
}
/**************buttons******************/
.btn-primary {
color: white;
	/* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
	background-image: -moz-linear-gradient(top, #727A8B, #727A8B);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#727A8B), to(#727A8B));
	/* background-image: -webkit-linear-gradient(top, #727A8B, #727A8B); */
	background-image: -o-linear-gradient(top, #727A8B, #727A8B);
	/* background-image: linear-gradient(to bottom, #727A8B, #727A8B); */
	/* background-repeat: repeat-x; */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
	/* border-color: #0044cc #0044cc #002a80; */
	/* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-radius: 0px;
	background-color: #727A8B;

}
.btn-primary:hover {
	background-color: #333845;
}
.create-button {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}
.filter {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}
.red-button {
	background-color: #E95136;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	font-size: auto;
	padding: 10px;
	color: #fff;
}
input[type="submit"] {
	background-color: #65B44E;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	margin-top: 10px;
	font-size: 16px;
	padding: 10px;
	color: #fff;
	width: 100%;
}
input, button {
	color: #fff;
	border: none;
}
button {
	line-height: 30px;
	background-color: #65B44E;
}
.green-button {
	background-color: #65B44E;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	font-size: auto;
	padding: 10px;
	color: #fff;
}
.green-button a {
	color: #fff;
}
.blue-button {
	background-color: #4D93DB;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	font-size: auto;
	padding: 10px;
	color: #fff;
}
.blue-button a {
	color: #fff;
}
/**************titlebar******************/
.titlebar {
	line-height: 25px;
	background-color: #EFEFEF;
	height: 50px;
	line-height: 50px;
}
body > div.row.titlebar.well > div.span4 > h1 {
line-height: 98px;
margin-left: 25px;
}
body > div.row.titlebar.well > div.span6 > h1 {
line-height: 98px;
margin-left: 25px;
}
.titlebar-actions {
	margin-top: 7px;
}
.id-name {
	font-size: 36px;
	margin-top: 20px;
	margin-left: 0px;
}
#sold-by a {
	font-size: 16px;
}
.sold-category {
	margin-top: 10px;
	margin-left: 0px;
}
/**************filters******************/
.filters {
	margin-bottom: 20px;
	margin-left: 25px;
}
.filter-actions {
	margin-bottom: 30px;
}
.filter-action {
	margin-right: 10px;
}
/**************calender******************/
.calender-date {
	margin: 5px;
	border-width: 0px;
}
.calender-date.span2.pull-right.well {
	padding: 0px;
}
#due-created {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#due-created-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#year {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#year-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#day {
	font-size: 40px;
	font-weight:bold;
	margin-top: 3px;
}
#month {
	font-size: 12px;
	font-weight:bold;
}
/**************product-form******************/
#product {
	margin-bottom: 0px;
}
#products {
	margin-bottom: 10px;
	margin-left: 25px;
	margin-top: 10px;
}
.header {
	background-color: #333844;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	border-bottom: 5px solid #E26244;
}
#new_user > div.user-form > div.input.select.optional.user_role > label {
	margin-left: 15%;
}

.address {
	margin-top: 50px;
}
.user-form-row {
	padding-top: 20px;
	padding-bottom: 20px;
}
.order-titlebar {
	margin-left: 25px;
	margin-top: 10px;
	line-height: 20px;
}