@import 'bootstrap';

.pull-right {
	margin-right: 5px;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: none;
}

/**************nav******************/
.navigation-fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #333844;
	height: 50px;
	line-height: 50px;
}
.brand {
	background-color: #E26244;
	width: 125px;
	height: 50px;
	margin-left: 0px;
}
.brand a {
	color: #fff;
	text-decoration: none;
}
.current-user a {
	color: #E26244;
	margin-right: 10px;
	text-decoration: none;
}
.logout a {
	color: #727A8B;
	margin-right: 10px;
	text-decoration: none;
}

/**************sidebar-nav******************/
.sidebar-nav-fixed {
    position:fixed;
    margin-left: 0px;
    height: 100%;
    width: 125px;
    background-color: #333844;

 }
.sidebar-section a {
	color: #727A8B;
	text-decoration: none;
 }
.sidebar-section {
	width: 100%;
	height: 75px;
	margin-top: 20px;
}
/**************global-index******************/
.no-data {
	border-radius:25px;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 3px dashed #000000;
	border-color: #727A8B;
	color: #333844;
	font-size: 16px;
	margin-top: 100px;
}
#orange {
	color: #E26244;
	font-size: 18px;
}
/**************buttons******************/
.create-button {
	background-color: #5BBD30;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
.cancel-button {
	background-color: #E95136;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;

}
.view-all-button {
	background-color: #333844;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #fff;
}
/**************forms******************/
input[type="submit"] {
	background-color: #5BBD30;
	height: 30px;
	padding: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	width: auto;
}
input, button {
	color: #fff;
	border: none;
}
button {
	line-height: 30px;
}
/**************titlebar******************/
.titlebar {
	margin-top: 50px;
}
/**************product-form******************/
#product_style {
	width: 75px;
}
#product_color {
	width: 75px;
}
#product_xs {
	width: 50px;
}
#product_small {
	width: 50px;
}
#product_med {
	width: 50px;
}
#product_large {
	width: 50px;
}
#product_xl {
	width: 50px;
}
#product_xxl {
	width: 50px;
}
#product_xxxl {
	width: 50px;
}
#product_ivxl {
	width: 50px;
}
#product_vxl {
	width: 50px;
}
#product_vixl {
	float: left;
	width: 50px;
}
#new_product > div.input.string.optional.product_style {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.string.optional.product_color {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xs {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_small {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_med {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_large {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_xxxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_ivxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vxl {
	float: left;
	margin-right: 5px;
}
#new_product > div.input.integer.optional.product_vixl {
	float: left;
	margin-right: 5px;
}
