@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
.pull-right {
	margin-right: 5px;
}
.well {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.hero-unit {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 20px;
}
.content {
	margin-left: 25px;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: none;
color: #fff;
}
.nav-tabs {
 border-bottom: none; 
margin-bottom: 0px;
}
.row {
	margin-left: 0px;
	margin-bottom: 25px;
}
.hero-unit-row {
	margin-left: 0px;
	margin-bottom: 10px;
}

[class*="span"] {
float: left;
min-height: 1px;
margin-left: 0px;
}
.index {
	margin-left: 25px;
}
.selector select {
	margin-bottom: 0px;
}
body > div.row.titlebar.well > div:nth-child(3) > a > center > div {
margin-top: 10px;
}
.order-border {
	border-bottom: dashed 1px;
}

/**************nav******************/
.navigation-fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #333844;
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.brand {
	background-color: #E26244;
}
.brand a {
	color: #fff;
	text-decoration: none;
}
.current-user a {
	color: #E26244;
	margin-right: 10px;
	text-decoration: none;
}
.logout a {
	color: #727A8B;
	margin-right: 10px;
	text-decoration: none;
}
/**************sidebar-nav******************/
.sidebar-nav-fixed {
    position:fixed;
    left: 0;
	top: 50px;
    height: 100%;
    background-color: #333844;

 }
 .current-user-logout {
 	background-color: #ccc;
 	height: 50px;
 	padding-top: 10px;

 }
.sidebar-nav-fixed li a img {
	margin-right: 10px;
}
.sidebar-nav-fixed li a {
	color: #fff;
	font-weight: bold;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
	background-color: #22252F;
	font-weight: bold;
	outline: 1px solid #111;
}
.nav > li > a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #22252F;
	font-weight: bold;
	outline: 1px solid #000;
}
.nav-pills.nav-stacked > li > a {
	margin-bottom: 0px;
	margin-top: 0px;
}
.nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 0px;
	margin-top: 0px;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px;
	border-radius: 0px; 
}
/**************global-index******************/
.no-data {
	padding: 10px;
	border: 3px dashed #000000;
	border-color: #727A8B;
	color: #333844;
	font-size: 16px;
	margin-top: 100px;
}
#orange {
	color: #E26244;
}
.multi-address {
	margin-bottom: 10px;
}
/**************buttons******************/
.create-button {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}
.filter {
	background-color: #65B44E;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	padding: 5px;
	color: #fff;
}.red-button {
	background-color: #E95136;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	margin-top: 10px;
	font-size: auto;
	padding: 10px;
	color: #fff;

}
input[type="submit"] {
	background-color: #65B44E;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	margin-top: 10px;
	font-size: 16px;
	padding: 10px;
	color: #fff;
	width: 100%;
}
input, button {
	color: #fff;
	border: none;
}
button {
	line-height: 30px;
	background-color: #65B44E;
}
.green-button {
	background-color: #65B44E;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	font-size: auto;
	padding: 10px;
	color: #fff;
}
.green-button a {
	color: #fff;
}
.blue-button {
	background-color: #4D93DB;
	font-family: 'Open Sans', sans-serif;
	line-height: 80%;
	height: 100%;
	font-size: auto;
	padding: 10px;
	color: #fff;
}
.blue-button a {
	color: #fff;
}
/**************titlebar******************/
.titlebar {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 95px;
	line-height: 98px;
}
.titlebar.well {
	padding: 0px;
}
body > div.row.titlebar.well > div.span4 > h1 {
line-height: 98px;
margin-left: 25px;
}
body > div.row.titlebar.well > div.span6 > h1 {
line-height: 98px;
margin-left: 25px;
}
.titlebar-actions {
	margin-top: 25%
}
.id-name {
	font-size: 36px;
	margin-top: 20px;
	margin-left: 0px;
}
#sold-by a {
	font-size: 16px;
}
.sold-category {
	margin-top: 10px;
	margin-left: 0px;
}
/**************filters******************/
.filters {
	margin-bottom: 20px;
	margin-left: 25px;
}
.filter-actions {
	margin-bottom: 30px;
}
.filter-action {
	margin-right: 10px;
}
/**************calender******************/
.calender-date {
	margin: 5px;
	border-width: 0px;
}
.calender-date.span2.pull-right.well {
	padding: 0px;
}
#due-created {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#due-created-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	padding: 5px;
	margin-bottom: 5px;
}
#year {
	background-color: #ff0000;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#year-start {
	background-color: green;
	color: #fff;
	font-size: 18px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	padding: 5px;
	margin-top: 15px;
}
#day {
	font-size: 40px;
	font-weight:bold;
	margin-top: 3px;
}
#month {
	font-size: 12px;
	font-weight:bold;
}
/**************product-form******************/
#product {
	margin-bottom: 0px;
}
#products {
	margin-bottom: 10px;
	margin-left: 25px;
	margin-top: 10px;
}
.header {
	background-color: #333844;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: bold;
	border-bottom: 5px solid #E26244;
}
#new_user > div.user-form > div.input.select.optional.user_role > label {
	margin-left: 15%;
}
label.password {
	margin-left: 15%;
}
label.password_confirmation {
	margin-left: 15%;
}

.address {
	margin-top: 50px;
}
.user-form-row {
	padding-top: 20px;
	padding-bottom: 20px;
}
.order-titlebar {
	margin-left: 25px;
	margin-top: 10px;
	line-height: 20px;
}