<div class="row-fluid navigation">
	<div class="row">
		<div class="span4">
			<div class="brand pull-left">
				<% if user_signed_in? %>
					Print On Rails
				<% else %>
					Print On Rails
				<% end %>
			</div>
		</div>
		<div class="span4">
		</div>
		<div class="span4">
			<div class="pull-right">
				<% if user_signed_in? %>
					Hello, <%= current_user.email %>
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				<% else %>
					<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
				<% end %>
			</div>
		</div>
	</div>
</div>